@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  padding: 0;
  margin: 0;
}

/* dark mode */
.fatherContainer {
  background-color: #0b0b0c;
  background-image: url("https://www.transparenttextures.com/patterns/xv.png");
  background-attachment: fixed;
  min-height: 100vh;
}

.whiteBg{
  background-color: #F9F2ED;
  background-image: url("https://www.transparenttextures.com/patterns/xv.png");
}


.songTilesContainer {
  display: inline-block;
  padding: 5px;
  height: 130px;
}


.songTilesContainer img {
  width: 90px;
  height: 80px;
  border-radius: 23px;
  border: 3px solid #2C3639;
  cursor: pointer;
  box-shadow: 5px 5px 4px rgb(0, 0, 0);
}


.songTilesContainer img:hover {
  border: 3px solid white;
}

.tileContainer {
  text-align: center;
  display: inline-block;
  height: 290px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: initial;
  background-color: transparent;
}



::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4c5052;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

hr {
  /* box-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px rgb(255, 0, 179), 0 0 5px rgb(235, 46, 46); */

  border: 2px solid white;
  width: 80%;
  margin: 8px auto;
  border-radius: 23px;

}

/* .audioElement p {
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px blue, 0 0 5px darkblue;
  color: white;
  padding: 5px 10px;
  border-radius: 23px;
  font-weight: bold;
  font-size: larger;
  display: table;
  margin: 10px auto 10px;
  animation: titlemove 5s infinite;
} */
@keyframes titlemove {
  50% {
  box-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px rgb(255, 0, 179), 0 0 5px rgb(235, 46, 46);

  }
}

.songTitle {
  text-shadow: 2px 2px 4px #000000;
  color: white;
}

.darkSongTitle{
  text-shadow: 2px 2px 4px #978d8d;
  color: black;
}

.audioElement audio {
  width: 90%;
  margin: 5px auto;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  
}

.audioElement {
  padding: 0 50px;
  text-align: center;
  margin-bottom: 50px;
}

audio::-webkit-media-controls {
  appearance: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
audio::-webkit-media-controls-panel {
  background-color: #EEE8E4;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: #0b0b0c;
  font-size: 20px;
  font-family: Arial, sans-serif;
}

audio::-webkit-media-controls-timeline {
  background-color: #ABC9FF;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

audio::-webkit-media-controls-play-button {
  background-color: #B1D4E0;
  border-radius: 50%;
  transition: 0.5s;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: rgba(177, 212, 224, .7);
}

audio::-webkit-media-controls-volume-slider {
  background-color: #B1D4E0;
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
}

.player{
  display: flex;
  background-color: #EEE8E4;
  padding: 15px;
  border-radius: 150px 50px 50px 150px;

}
.nameplayer{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.nameplayer p{
  margin: 0 50px;
  font-size: 75px;
  font-family: proxima_nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: left;
  padding-left: 10px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playerThumbnail:hover {
  /* -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05); */
  box-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px rgb(215, 115, 0), 0 0 5px rgb(255, 57, 57);
}

.playerThumbnail {
  border-radius: 50%;
  border: 2px solid white;
  width: 200px;
  height: 200px;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px blue, 0 0 5px darkblue;
  animation: mymove 20s infinite;
  transition: 0.3s;
}
@keyframes mymove {
  100% {transform: rotate(360deg);}
  50% {
  box-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px rgb(255, 0, 179), 0 0 5px rgb(235, 46, 46);

  }
}

.listTiles {
  background-color: #2C3639;
  /* box-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px rgb(117, 117, 231), 0 0 5px darkblue; */
  /* text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.308), 0 0 25px rgb(255, 0, 179); */
  font-weight: bolder;
  border-radius: 23px;
  color: white;
  list-style: none;
  margin: 10px 10px 10px 10px;
  padding: 10px 0 10px 20px;
}

.listTiles:hover {
  list-style: georgian inside url('https://github.com/subhranshuchoudhury/s-Player/raw/main/songs/player-icon%20production.png');
  cursor: pointer;
  background-color: wheat;
  color: #2C3639;
  /* box-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px rgb(255, 0, 179), 0 0 5px rgb(235, 46, 46); */

}

.listTileHolder {
  height: 300px;
  overflow-y: scroll;
  padding-bottom: 10px;
}

.footer{
  text-align: center;
  padding-bottom: 7px;
  color: #2C3639;
  width: 300px;
  margin: 0 auto 5px;
  border-radius: 23px;
}
.footer:hover{
  background-color: wheat;
  color: black;
}


audio:hover,
audio:focus,
audio:active {
  /* -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05); */
}

.moodBtnContainer {
  text-align: center;
  margin: 8px 0 8px 0;
}

.darkMoodButton {
  width: 40px;
  margin: 15px;
  height: 40px;
  font-weight: bolder;
  color: black;
  font-size: 100;
  border-radius: 50%;
  background-color: #E8AA42;
  cursor: pointer;
  font-family: 'Pacifico', cursive;
  /* text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0); */
  /* box-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px blue, 0 0 5px darkblue; */

}

.moodButton {
  width: 40px;
  margin: 15px;
  height: 40px;
  font-weight: bolder;
  color: white;
  font-size: 100;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  margin:10px 20px 10px 20px;
  font-family: 'Pacifico', cursive;
  /* text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0); */
  /* box-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px blue, 0 0 5px darkblue; */

}

.moodButton:hover{
  box-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px rgb(255, 0, 179), 0 0 5px rgb(235, 46, 46);

}
.darkMoodButton:hover{
  box-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px rgb(255, 0, 179), 0 0 5px rgb(235, 46, 46);

}



.searchBar {
  text-align: center;
}

.darkSearchBar{
  text-align: center;
}

.searchBar input {
  width: 70%;
  margin: 7px auto;
  text-align: center;
  background: transparent;
  color: white;
  border: none;
  font-weight: bolder;
  border-bottom: 2px solid #E8AA42;
  font-size: larger;
}

.darkSearchBar input{
  width: 70%;
  margin: 7px auto;
  text-align: center;
  background: transparent;
  color: rgb(0, 0, 0);
  border: none;
  font-weight: bolder;
  border-bottom: 2px solid #E8AA42;
  font-size: larger;
}

input:focus {
  outline: none;
}

.header {
  /* background-color: white; */
  margin-bottom: 50px;
}

.header a {
  text-decoration: none;
  color: wheat;
  font-weight: bolder;
  font-size: x-large;
  display: block;
  padding: 6px 0 8px 10px;
  font-family: 'Pacifico', cursive;
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px rgb(255, 0, 179), 0 0 5px rgb(235, 46, 46);
}

.darkheader{
  margin-bottom: 50px;

}

.darkheader a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: x-large;
  display: block;
  padding: 6px 0 8px 10px;
  font-family: 'Pacifico', cursive;
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px rgb(255, 0, 179), 0 0 5px rgb(235, 46, 46);
}

.header a:hover{
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px rgb(96, 85, 241), 0 0 5px rgb(49, 46, 235);

}

@media (max-width:970px) {
  
  .audioElement audio {
    width: 90%;
    margin: 5px auto;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    
  }
  
  .audioElement {
    padding: 0 50px;
    text-align: center;
    margin-bottom: 50px;
  }
  
  audio::-webkit-media-controls {
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  audio::-webkit-media-controls-panel {
    background-color: #EEE8E4;
  }
  
  audio::-webkit-media-controls-current-time-display,
  audio::-webkit-media-controls-time-remaining-display {
    color: #0b0b0c;
    font-size: 15px;
    font-family: Arial, sans-serif;
  }
  
  audio::-webkit-media-controls-timeline {
    background-color: #ABC9FF;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  audio::-webkit-media-controls-play-button {
    background-color: #B1D4E0;
    border-radius: 50%;
    transition: 0.5s;
  }
  
  audio::-webkit-media-controls-play-button:hover {
    background-color: rgba(177, 212, 224, .7);
  }
  
  audio::-webkit-media-controls-volume-slider {
    background-color: #B1D4E0;
    border-radius: 25px;
    padding-left: 4px;
    padding-right: 4px;
  }
  
  .player{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEE8E4;
    padding: 30px;
    border-radius: 50px 50px 50px 50px;
  
  }
  .nameplayer{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }
  .nameplayer p{
    margin: 20px 0 0 0;
    font-size: 20px;
    font-family: proxima_nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    padding-left: 0px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
  }
  
}

@media (max-width:500px) {
  .audioElement audio {
    width: 80%;
    margin: 0px auto;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    
  }
  
  .audioElement {
    padding: 0 50px;
    text-align: center;
    margin-bottom: 50px;
  }
  
  audio::-webkit-media-controls {
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  audio::-webkit-media-controls-panel {
    background-color: #EEE8E4;
  }
  
  audio::-webkit-media-controls-current-time-display,
  audio::-webkit-media-controls-time-remaining-display {
    color: #0b0b0c;
    font-size: 15px;
    font-family: Arial, sans-serif;
  }
  
  audio::-webkit-media-controls-timeline {
    display: none;
    width: 90%;
  }
  
  audio::-webkit-media-controls-play-button {
    background-color: #B1D4E0;
    border-radius: 50%;
    transition: 0.5s;
  }
  
  audio::-webkit-media-controls-play-button:hover {
    background-color: rgba(177, 212, 224, .7);
  }
  
  audio::-webkit-media-controls-volume-slider {
    background-color: #B1D4E0;
    border-radius: 25px;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .player{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEE8E4;
    padding: 30px;
    border-radius: 50px 50px 50px 50px;
  
  }
  .nameplayer{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }
  .nameplayer p{
    margin: 20px 0 10px 0;
    font-size: 17px;
    font-family: proxima_nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    padding-left: 0px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
  }
  .playerThumbnail {
    border-radius: 50%;
    border: 2px solid white;
    width: 150px;
    height: 150px;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px blue, 0 0 5px darkblue;
    animation: mymove 20s infinite;
    transition: 0.3s;
  }
}